body {
  margin: 0;
  height: 100%;
  overflow: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: black;
  color: #ccc;
  z-index: -2;
}

html::before,
html::after,
body::before,
body::after {
  content: "";
  top: 0;
  left: 0;
  display: block;
  width: 0.5vmin;
  height: 0.5vmin;
  color: transparent;
}

html::before {
  -webkit-box-shadow: 93vw 63vh 0.3vmin rgba(255, 255, 255, 0.8), 3vw 17vh 0.3vmin rgba(255, 255, 255, 0.8), 28vw 85vh 0.3vmin rgba(255, 255, 255, 0.8), 97vw 82vh 0.3vmin rgba(255, 255, 255, 0.8), 55vw 83vh 0.3vmin rgba(255, 255, 255, 0.8), 74vw 72vh 0.3vmin rgba(255, 255, 255, 0.8), 84vw 11vh 0.3vmin rgba(255, 255, 255, 0.8), 32vw 6vh 0.3vmin rgba(255, 255, 255, 0.8), 45vw 92vh 0.3vmin rgba(255, 255, 255, 0.8), 98vw 57vh 0.3vmin rgba(255, 255, 255, 0.8), 63vw 98vh 0.3vmin rgba(255, 255, 255, 0.8), 90vw 46vh 0.3vmin rgba(255, 255, 255, 0.8), 50vw 86vh 0.3vmin rgba(255, 255, 255, 0.8), 38vw 21vh 0.3vmin rgba(255, 255, 255, 0.8), 74vw 2vh 0.3vmin rgba(255, 255, 255, 0.8), 89vw 22vh 0.3vmin rgba(255, 255, 255, 0.8), 39vw 0vh 0.3vmin rgba(255, 255, 255, 0.8), 25vw 89vh 0.3vmin rgba(255, 255, 255, 0.8), 54vw 58vh 0.3vmin rgba(255, 255, 255, 0.8), 81vw 39vh 0.3vmin rgba(255, 255, 255, 0.8), 51vw 8vh 0.3vmin rgba(255, 255, 255, 0.8), 24vw 56vh 0.3vmin rgba(255, 255, 255, 0.8), 50vw 23vh 0.3vmin rgba(255, 255, 255, 0.8), 62vw 34vh 0.3vmin rgba(255, 255, 255, 0.8), 10vw 77vh 0.3vmin rgba(255, 255, 255, 0.8), 92vw 45vh 0.3vmin rgba(255, 255, 255, 0.8), 70vw 40vh 0.3vmin rgba(255, 255, 255, 0.8), 2vw 53vh 0.3vmin rgba(255, 255, 255, 0.8), 3vw 54vh 0.3vmin rgba(255, 255, 255, 0.8), 18vw 21vh 0.3vmin rgba(255, 255, 255, 0.8), 48vw 47vh 0.3vmin rgba(255, 255, 255, 0.8), 83vw 96vh 0.3vmin rgba(255, 255, 255, 0.8), 26vw 32vh 0.3vmin rgba(255, 255, 255, 0.8), 46vw 9vh 0.3vmin rgba(255, 255, 255, 0.8), 2vw 13vh 0.3vmin rgba(255, 255, 255, 0.8), 29vw 63vh 0.3vmin rgba(255, 255, 255, 0.8), 17vw 90vh 0.3vmin rgba(255, 255, 255, 0.8), 78vw 9vh 0.3vmin rgba(255, 255, 255, 0.8), 15vw 39vh 0.3vmin rgba(255, 255, 255, 0.8), 90vw 5vh 0.3vmin rgba(255, 255, 255, 0.8);
          box-shadow: 93vw 63vh 0.3vmin rgba(255, 255, 255, 0.8), 3vw 17vh 0.3vmin rgba(255, 255, 255, 0.8), 28vw 85vh 0.3vmin rgba(255, 255, 255, 0.8), 97vw 82vh 0.3vmin rgba(255, 255, 255, 0.8), 55vw 83vh 0.3vmin rgba(255, 255, 255, 0.8), 74vw 72vh 0.3vmin rgba(255, 255, 255, 0.8), 84vw 11vh 0.3vmin rgba(255, 255, 255, 0.8), 32vw 6vh 0.3vmin rgba(255, 255, 255, 0.8), 45vw 92vh 0.3vmin rgba(255, 255, 255, 0.8), 98vw 57vh 0.3vmin rgba(255, 255, 255, 0.8), 63vw 98vh 0.3vmin rgba(255, 255, 255, 0.8), 90vw 46vh 0.3vmin rgba(255, 255, 255, 0.8), 50vw 86vh 0.3vmin rgba(255, 255, 255, 0.8), 38vw 21vh 0.3vmin rgba(255, 255, 255, 0.8), 74vw 2vh 0.3vmin rgba(255, 255, 255, 0.8), 89vw 22vh 0.3vmin rgba(255, 255, 255, 0.8), 39vw 0vh 0.3vmin rgba(255, 255, 255, 0.8), 25vw 89vh 0.3vmin rgba(255, 255, 255, 0.8), 54vw 58vh 0.3vmin rgba(255, 255, 255, 0.8), 81vw 39vh 0.3vmin rgba(255, 255, 255, 0.8), 51vw 8vh 0.3vmin rgba(255, 255, 255, 0.8), 24vw 56vh 0.3vmin rgba(255, 255, 255, 0.8), 50vw 23vh 0.3vmin rgba(255, 255, 255, 0.8), 62vw 34vh 0.3vmin rgba(255, 255, 255, 0.8), 10vw 77vh 0.3vmin rgba(255, 255, 255, 0.8), 92vw 45vh 0.3vmin rgba(255, 255, 255, 0.8), 70vw 40vh 0.3vmin rgba(255, 255, 255, 0.8), 2vw 53vh 0.3vmin rgba(255, 255, 255, 0.8), 3vw 54vh 0.3vmin rgba(255, 255, 255, 0.8), 18vw 21vh 0.3vmin rgba(255, 255, 255, 0.8), 48vw 47vh 0.3vmin rgba(255, 255, 255, 0.8), 83vw 96vh 0.3vmin rgba(255, 255, 255, 0.8), 26vw 32vh 0.3vmin rgba(255, 255, 255, 0.8), 46vw 9vh 0.3vmin rgba(255, 255, 255, 0.8), 2vw 13vh 0.3vmin rgba(255, 255, 255, 0.8), 29vw 63vh 0.3vmin rgba(255, 255, 255, 0.8), 17vw 90vh 0.3vmin rgba(255, 255, 255, 0.8), 78vw 9vh 0.3vmin rgba(255, 255, 255, 0.8), 15vw 39vh 0.3vmin rgba(255, 255, 255, 0.8), 90vw 5vh 0.3vmin rgba(255, 255, 255, 0.8);
}

html::after {
  -webkit-box-shadow: 67vw 35vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 89vw 13vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 77vw 62vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 1vw 74vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 38vw 15vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 79vw 10vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 16vw 47vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 74vw 71vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 30vw 96vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 13vw 98vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 9vw 40vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 9vw 71vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 12vw 93vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 91vw 26vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 73vw 48vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 61vw 46vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 20vw 3vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 90vw 59vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 48vw 72vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 91vw 68vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8);
          box-shadow: 67vw 35vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 89vw 13vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 77vw 62vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 1vw 74vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 38vw 15vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 79vw 10vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 16vw 47vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 74vw 71vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 30vw 96vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 13vw 98vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 9vw 40vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 9vw 71vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 12vw 93vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 91vw 26vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 73vw 48vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 61vw 46vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 20vw 3vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 90vw 59vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 48vw 72vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 91vw 68vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8);
}

body::before {
  -webkit-box-shadow: 30vw 90vh 0.2vmin rgba(190, 200, 255, 0.9), 93vw 64vh 0.2vmin rgba(190, 200, 255, 0.9), 75vw 80vh 0.2vmin rgba(190, 200, 255, 0.9), 37vw 24vh 0.2vmin rgba(190, 200, 255, 0.9), 83vw 58vh 0.2vmin rgba(190, 200, 255, 0.9), 12vw 36vh 0.2vmin rgba(190, 200, 255, 0.9), 62vw 82vh 0.2vmin rgba(190, 200, 255, 0.9), 87vw 91vh 0.2vmin rgba(190, 200, 255, 0.9), 9vw 2vh 0.2vmin rgba(190, 200, 255, 0.9), 99vw 46vh 0.2vmin rgba(190, 200, 255, 0.9), 39vw 86vh 0.2vmin rgba(190, 200, 255, 0.9), 48vw 42vh 0.2vmin rgba(190, 200, 255, 0.9), 53vw 24vh 0.2vmin rgba(190, 200, 255, 0.9), 63vw 42vh 0.2vmin rgba(190, 200, 255, 0.9), 2vw 53vh 0.2vmin rgba(190, 200, 255, 0.9), 67vw 11vh 0.2vmin rgba(190, 200, 255, 0.9), 32vw 44vh 0.2vmin rgba(190, 200, 255, 0.9), 0vw 82vh 0.2vmin rgba(190, 200, 255, 0.9), 51vw 47vh 0.2vmin rgba(190, 200, 255, 0.9), 74vw 30vh 0.2vmin rgba(190, 200, 255, 0.9);
          box-shadow: 30vw 90vh 0.2vmin rgba(190, 200, 255, 0.9), 93vw 64vh 0.2vmin rgba(190, 200, 255, 0.9), 75vw 80vh 0.2vmin rgba(190, 200, 255, 0.9), 37vw 24vh 0.2vmin rgba(190, 200, 255, 0.9), 83vw 58vh 0.2vmin rgba(190, 200, 255, 0.9), 12vw 36vh 0.2vmin rgba(190, 200, 255, 0.9), 62vw 82vh 0.2vmin rgba(190, 200, 255, 0.9), 87vw 91vh 0.2vmin rgba(190, 200, 255, 0.9), 9vw 2vh 0.2vmin rgba(190, 200, 255, 0.9), 99vw 46vh 0.2vmin rgba(190, 200, 255, 0.9), 39vw 86vh 0.2vmin rgba(190, 200, 255, 0.9), 48vw 42vh 0.2vmin rgba(190, 200, 255, 0.9), 53vw 24vh 0.2vmin rgba(190, 200, 255, 0.9), 63vw 42vh 0.2vmin rgba(190, 200, 255, 0.9), 2vw 53vh 0.2vmin rgba(190, 200, 255, 0.9), 67vw 11vh 0.2vmin rgba(190, 200, 255, 0.9), 32vw 44vh 0.2vmin rgba(190, 200, 255, 0.9), 0vw 82vh 0.2vmin rgba(190, 200, 255, 0.9), 51vw 47vh 0.2vmin rgba(190, 200, 255, 0.9), 74vw 30vh 0.2vmin rgba(190, 200, 255, 0.9);
}

body::after {
  -webkit-box-shadow: 80vw 64vh 0.1vmin rgba(200, 255, 230, 0.7), 32vw 45vh 0.1vmin rgba(200, 255, 230, 0.7), 65vw 62vh 0.1vmin rgba(200, 255, 230, 0.7), 22vw 55vh 0.1vmin rgba(200, 255, 230, 0.7), 68vw 19vh 0.1vmin rgba(200, 255, 230, 0.7), 54vw 34vh 0.1vmin rgba(200, 255, 230, 0.7), 1vw 56vh 0.1vmin rgba(200, 255, 230, 0.7), 95vw 1vh 0.1vmin rgba(200, 255, 230, 0.7), 60vw 93vh 0.1vmin rgba(200, 255, 230, 0.7), 14vw 82vh 0.1vmin rgba(200, 255, 230, 0.7), 6vw 64vh 0.1vmin rgba(200, 255, 230, 0.7), 19vw 12vh 0.1vmin rgba(200, 255, 230, 0.7), 25vw 39vh 0.1vmin rgba(200, 255, 230, 0.7), 21vw 36vh 0.1vmin rgba(200, 255, 230, 0.7), 4vw 10vh 0.1vmin rgba(200, 255, 230, 0.7), 85vw 70vh 0.1vmin rgba(200, 255, 230, 0.7), 54vw 93vh 0.1vmin rgba(200, 255, 230, 0.7), 9vw 46vh 0.1vmin rgba(200, 255, 230, 0.7), 63vw 59vh 0.1vmin rgba(200, 255, 230, 0.7), 48vw 28vh 0.1vmin rgba(200, 255, 230, 0.7);
          box-shadow: 80vw 64vh 0.1vmin rgba(200, 255, 230, 0.7), 32vw 45vh 0.1vmin rgba(200, 255, 230, 0.7), 65vw 62vh 0.1vmin rgba(200, 255, 230, 0.7), 22vw 55vh 0.1vmin rgba(200, 255, 230, 0.7), 68vw 19vh 0.1vmin rgba(200, 255, 230, 0.7), 54vw 34vh 0.1vmin rgba(200, 255, 230, 0.7), 1vw 56vh 0.1vmin rgba(200, 255, 230, 0.7), 95vw 1vh 0.1vmin rgba(200, 255, 230, 0.7), 60vw 93vh 0.1vmin rgba(200, 255, 230, 0.7), 14vw 82vh 0.1vmin rgba(200, 255, 230, 0.7), 6vw 64vh 0.1vmin rgba(200, 255, 230, 0.7), 19vw 12vh 0.1vmin rgba(200, 255, 230, 0.7), 25vw 39vh 0.1vmin rgba(200, 255, 230, 0.7), 21vw 36vh 0.1vmin rgba(200, 255, 230, 0.7), 4vw 10vh 0.1vmin rgba(200, 255, 230, 0.7), 85vw 70vh 0.1vmin rgba(200, 255, 230, 0.7), 54vw 93vh 0.1vmin rgba(200, 255, 230, 0.7), 9vw 46vh 0.1vmin rgba(200, 255, 230, 0.7), 63vw 59vh 0.1vmin rgba(200, 255, 230, 0.7), 48vw 28vh 0.1vmin rgba(200, 255, 230, 0.7);
}

img {
  display: block;
  border-radius: 10px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section {
  padding: 15px 0;
}

picture {
  display: block;
  width: 100%;
  border-radius: 30px;
}

a {
  display: block;
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
}
.header__container > img {
  width: 255px;
}
@media screen and (max-width: 1200px) {
  .header__container span {
    display: none;
  }
}

.telegram__link {
  font-family: sans-serif;
  font-weight: 900;
  font-size: 24;
  color: #000000;
  text-shadow: 3px 0px 2px #ffffff, -3px 0px 2px #ffffff, -3px -3px 2px #ffffff, -3px 3px 2px #ffffff, 3px 3px 2px #ffffff, 3px -3px 2px #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 25px;
  border: 10px solid transparent;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
@media screen and (min-width: 768px) {
  .telegram__link {
    padding: 10px;
  }
}
.telegram__link:hover, .telegram__link:focus {
  border: 10px solid #d3219e;
}

.telegram-icon {
  display: none;
}
@media screen and (min-width: 1200px) {
  .telegram-icon {
    display: block;
  }
  .telegram-icon--button {
    display: none;
  }
}

.section__container img {
  width: 100%;
}

.banners__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
}

.banners__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .banners__item:not(:last-child) {
    -ms-flex-preferred-size: calc(50% - 50px);
        flex-basis: calc(50% - 50px);
  }
}
@media screen and (min-width: 1200px) {
  .banners__item:not(:last-child) {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.banners__link {
  border: 10px solid transparent;
  border-radius: 10px;
  -webkit-transition: all 250ms linear;
  transition: all 250ms linear;
}
.banners__link:hover, .banners__link:focus {
  border: 10px solid #d3219e;
  background-color: #d3219e;
}

.footer__title {
  color: #cd4237;
  font-weight: bold;
}

.footer__dscr {
  color: #ccc;
}

.footer {
  background-color: #11061b;
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer__content {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
@media screen and (min-width: 768px) {
  .footer__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer__18 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
@media screen and (min-width: 768px) {
  .footer__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer__copy {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  width: 200px;
}
@media screen and (min-width: 768px) {
  .footer__copy {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__copy {
    text-align: start;
  }
}

.limit {
  width: 70px;
  height: 70px;
  fill: #cd4444;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .limit {
    margin: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .limit {
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .limit {
    margin-right: 0;
  }
}

.footer__title {
  color: #cd4237;
  font-weight: bold;
  font-size: 20px;
}

.footer__dscr {
  color: #ccc;
  font-size: 18px;
}

.footer__item {
  max-width: 350px;
  position: relative;
}/*# sourceMappingURL=main.css.map */