.footer {
  background-color: #11061b;
  min-height: 200px;
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer__content {
  justify-content: center;
  display: flex;
  flex-direction: column;

  gap: 40px;
  @media screen and (min-width: 768px) {
    align-items: center;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.footer__18 {
  display: flex;
  flex-direction: column;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.footer__copy {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  width: 200px;
  @media screen and (min-width: 768px) {
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}

.limit {
  width: 70px;
  height: 70px;
  fill: #cd4444;
  margin: 0;
  @media screen and (min-width: 768px) {
    margin: 0;
    @media screen and (max-width: 1199px) {
      margin: 0 auto;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 0;
    }
  }
}
.footer__title {
  color: #cd4237;
  font-weight: bold;
  font-size: 20px;
}

.footer__dscr {
  color: #ccc;
  font-size: 18px;
}

.footer__item {
  max-width: 350px;
  position: relative;
}
